{% extends 'claims/base_claims.html' %}
{% load static %}

{% block title %}
{{ block.super }} - Заявки
{% endblock title %}

{% block content %}
    <div class='container'>
        <h1 class='text-center'>Заявки</h1>
        <div class="row row-cols-1 g-2">
            {% for claim in claim_list %}
            <div class="col-12">
                <a style='color:#212529' 
                    href="">
                <div class='card'>
                    <div class="card-body">
                        <div class='row justify-content-between'>
                            <div class='col-md'>
                                <h5 class="card-title">
                                    {{ claim.title }}
                                </h5>
                                <h6  class="card-subtitle mb-2 text-muted">
                                    Создано: {{ claim.created|date:'j/m/Y H:i' }}
                                </h6>
                                <h6 class="card-subtitle mb-2">
                                    Срок исполнения: {{ claim.deadline|date:'j/m/Y H:i' }}
                                </h6>
                                <h6 class="card-subtitle mb-2">
                                    Количество: {{ claim.ammount}}
                                </h6>
                            </div>
                            <div class='col-md-auto my-md-0 my-2'>
                                <object  type="owo/uwu">
                                    <a class='btn btn-outline-dark'
                                        href="{{ claim.get_update_url }}?">
                                        Редактировать
                                    </a>
                                </object>
                                <object  type="owo/uwu">
                                    <a class='btn btn-outline-danger' 
                                        href="{{ claim.get_delete_url }}?next={{request.path}}">
                                        Удалить
                                    </a>
                                </object>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% block footer %}
        {{ block.super }}
        {% endblock footer %}
    </div>
{% endblock content %}