{% extends 'claims/base_claims.html' %}
{% load static %}
{% load smooth_timedelta %}

{% block title %}
{{ block.super }} - {% if request.path == claim_expired_list_url %}Истекшие Заявки{% else %}Заявки{% endif %}
{% endblock title %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1 {% if not user.is_authenticated %}class='text-center'{% endif %}>{% if request.path == claim_expired_list_url %}Истекшие Заявки{% else %}Заявки{% endif %}</h1>
            </div>
            {% if user.is_authenticated %}
            <div class='col-auto'>
                <a type="button" href="{{ claim_create_url }}" class="btn btn-success my-1">Создать Заявку</a>
            </div>
            {% endif %}
        </div>
        <div class="row row-cols-1 g-2">
            {% for claim in claim_list %}
            <div class="col-12">
                <a style='color:#212529' 
                    href="{{ claim.get_absolute_url }}">
                <div class='card'>
                    <div class='card-header'>
                        <div class='row justify-content-between'>
                            <div class='col-md'>
                                <h5>{{ claim.title }}</h5>
                            </div>
                            {% if user == claim.user %}
                            <div class='col-md-auto my-md-0 my-2'>
                                <object  type="owo/uwu">
                                    <a class='btn btn-outline-dark'
                                        href="{{ claim.get_update_url }}?">
                                        Редактировать
                                    </a>
                                </object>
                                <object  type="owo/uwu">
                                    <a class='btn btn-outline-danger' 
                                        href="{{ claim.get_delete_url }}?next={{request.path}}">
                                        Удалить
                                    </a>
                                </object>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class='row justify-content-between'>
                            <div class='col-md'>
                                <h6  class="card-subtitle mb-2 text-muted">
                                    Создана: {{ claim.created|date:'j/m/Y H:i' }}
                                </h6>
                                <h6 class="card-text mb-2">
                                    Истек{% if request.path == claim_expired_list_url %}ла{% else %}ает{% endif %}: {{ claim.deadline|date:'j/m/Y H:i' }}
                                </h6>
                                {% if claim.claim_ends %}
                                    <h6 class="card-text mb-2">
                                        Осталось: {{ claim.claim_ends|smooth_timedelta }}
                                    </h6>
                                {% endif %}
                                <h6 class="card-text mb-2">
                                    {{ claim.comment|truncatewords:50 }}
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class='card-footer'>
                        <h6 class="card-text mb-2">
                            Количество: {{ claim.ammount}}
                        </h6>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% block footer %}
        {{ block.super }}
        {% endblock footer %}
    </div>
{% endblock content %}