{% load smooth_timedelta %}

<div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-md-auto'>
            {% if claim.image %}
            <img width='200px' 
              src="{{claim.image.url}}">
            {% endif %}
        </div>
        <div class='col-md col-12'>
          <div class='row'>
              <div class='col-md col-12'>
                <h2 class="card-title">{{ claim.title }}</h2>
              </div>
              {% if claim.user == user %}
                <div class='col-md-auto mb-2'>
                    <a class='btn btn-outline-dark'
                        href="{{ claim.get_update_url }}">
                        Редактировать
                    </a>
                    <a class='btn btn-outline-danger' 
                        href="{{ claim.get_delete_url }}?next={{ request.path }}">
                        Удалить
                    </a>
                </div>
              {% endif %}
              </div class='col-md col-12'>
                <h6 class="card-subtitle mb-2 text-muted">
                  Создана: {{ claim.created|date:'j/m/Y H:i' }}
                </h6>
                <h6 class="card-text mb-2">
                  Заявитель: {{ claim.user.first_name }} {{ claim.user.last_name }}
                </h6>
                <h6 class="card-text mb-2">
                  Истек{% if not claim.claim_ends %}ла{% else %}ает{% endif %}: {{ claim.deadline|date:'j/m/Y H:i' }}
                </h6>
                {% if claim.claim_ends %}
                <h6 class="card-text mb-2">
                  Осталось: {{ claim.claim_ends|smooth_timedelta }}
                </h6>
                {% endif %}
                <h6 class="card-text mb-2">
                  Количество: {{ claim.ammount}}
                </h6>
                {% if claim.comment %}
                <p class="card-text">
                  {{ claim.comment|linebreaks }}
                </p>
                {% endif %}
                {% if best_offer_price and best_offer_unit_price %}
                <h6 class="card-subtitle mb-2">
                  Лучшая Цена: {{ best_offer_price }} руб.
                </h6>
                <h6 class="card-subtitle mb-2">
                  Цена за единицу: {{ best_offer_unit_price }} руб.
                </h6>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
</div>